{% extends '::layout.html.twig' %}

{% block body %}

{% include "MessagerieBundle:Message:onglets.html.twig" %}

<h2><center>{% trans from 'FOSMessageBundle' %}search{% endtrans %}</center></h2>

<p>{% transchoice threads|length with {'%num%': threads|length } from 'FOSMessageBundle' %}
    threads_found
{% endtranschoice %}</p>

{% include 'MessagerieBundle:Message:threads_list.html.twig' with {'threads': threads} %}

{% endblock %}
