

{% extends "AppBundle::layout.html.twig" %}

{% block title %}
  Modifier Profile - {{ parent() }}
{% endblock %}

{% block lesheureusesnaissancesplatform_body %}

  <div class="col-md-12 bandeau">
      <h1 class="text-center">Mes disponibilités</h1>
  </div>

<div class="container">
  <div class="row">
      <div class="col-md-10 col-md-offset-1">
      <form role="form" method="POST" action="{{path('app_user_edit_dispos')}}">
            <div class="col-md-4">
                <h6 class="uppercase">
                Lundi
                </h6>

                <p class="mb16">
                  Matin
                </p>
                {% if app.user.getLundiMatin() == true %}
                <INPUT type= "radio" name="1" value="1" checked > oui
                <INPUT type= "radio" name="1" value="0"> non
                {% else %}
                <INPUT type= "radio" name="1" value="1" > oui
                <INPUT type= "radio" name="1" value="0" checked> non
                 {% endif %}

                <p class="mb16">
                  Après-midi
                </p>
               
                {% if app.user.getLundiMidi() == true %}
                <INPUT type= "radio" name="2" value="1" checked > oui
                <INPUT type= "radio" name="2" value="0"> non
                {%else%}
                <INPUT type= "radio" name="2" value="1" > oui
                <INPUT type= "radio" name="2" value="0" checked> non

                {% endif %}

                <p class="mb16">
                  Soir
                </p>
                
                {% if app.user.getLundiSoir() == true %}
                <INPUT type= "radio" name="3" value="1" checked > oui
                <INPUT type= "radio" name="3" value="0"> non
                {%else%}
                <INPUT type= "radio" name="3" value="1" > oui
                <INPUT type= "radio" name="3" value="0" checked> non
                {% endif %}
              </div>

            
            
            <div class="col-md-4">

                <h6 class="uppercase">
                Mardi
                </h6>

                  <p class="mb16">
                    Matin
                  </p>
                  {% if app.user.getMardiMatin() == true %}
                  <INPUT type= "radio" name="4" value="1" checked > oui
                  <INPUT type= "radio" name="4" value="0"> non
                  {%else%}
                  <INPUT type= "radio" name="4" value="1" > oui
                  <INPUT type= "radio" name="4" value="0" checked> non
                   {%endif %}


                  <p class="mb16">
                    Après-midi
                  </p>
                 {% if app.user.getMardiMidi() == true %}
                  <INPUT type= "radio" name="5" value="1" checked > oui
                  <INPUT type= "radio" name="5" value="0"> non
                  {%else%}
                  <INPUT type= "radio" name="5" value="1" > oui
                  <INPUT type= "radio" name="5" value="0" checked> non
                   {%endif %}


                  <p class="mb16">
                    Soir
                  </p>
                  {% if app.user.getMardiSoir() == true %}
                  <INPUT type= "radio" name="6" value="1" checked > oui
                  <INPUT type= "radio" name="6" value="0"> non
                  {%else%}
                  <INPUT type= "radio" name="6" value="1" > oui
                  <INPUT type= "radio" name="6" value="0" checked> non
                   {%endif %}
            </div>
            <div class="col-md-4">
                <h6 class="uppercase">
                Mercredi
                </h6>

                <p class="mb16">
                  Matin
                </p>
                 {% if app.user.getMercrediMatin() == true %}
                <INPUT type= "radio" name="7" value="1" checked > oui
                <INPUT type= "radio" name="7" value="0"> non
                {%else%}
                <INPUT type= "radio" name="7" value="1" > oui
                <INPUT type= "radio" name="7" value="0" checked> non
                 {% endif %}


                <p class="mb16">
                  Après-midi
                </p>
                 {% if app.user.getMercrediMidi() == true %}
                <INPUT type= "radio" name="8" value="1" checked > oui
                <INPUT type= "radio" name="8" value="0"> non
                {%else%}
                <INPUT type= "radio" name="8" value="1" > oui
                <INPUT type= "radio" name="8" value="0" checked> non
                 {% endif %}

                <p class="mb16">
                  Soir
                </p>
                {% if app.user.getMercrediSoir() == true %}
                <INPUT type= "radio" name="9" value="1" checked > oui
                <INPUT type= "radio" name="9" value="0"> non
                {%else%}
                <INPUT type= "radio" name="9" value="1" > oui
                <INPUT type= "radio" name="9" value="0" checked> non
                {% endif %}

            </div>

            <div class="col-md-4">

                <h6 class="uppercase">
                Jeudi
                </h6>

                  <p class="mb16">
                    Matin
                  </p>
                  {% if app.user.getJeudiMatin() == true %}
                  <INPUT type= "radio" name="10" value="1" checked > oui
                  <INPUT type= "radio" name="10" value="0"> non
                  {%else%}
                  <INPUT type= "radio" name="10" value="1" > oui
                  <INPUT type= "radio" name="10" value="0" checked> non
                   {%endif %}


                  <p class="mb16">
                    Après-midi
                  </p>
                  {% if app.user.getJeudiMidi() == true %}
                  <INPUT type= "radio" name="11" value="1" checked > oui
                  <INPUT type= "radio" name="11" value="0"> non
                  {%else%}
                  <INPUT type= "radio" name="11" value="1" > oui
                  <INPUT type= "radio" name="11" value="0" checked> non
                   {%endif %}


                  <p class="mb16">
                    Soir
                  </p>
                  {% if app.user.getJeudiSoir() == true %}
                  <INPUT type= "radio" name="12" value="1" checked > oui
                  <INPUT type= "radio" name="12" value="0"> non
                  {%else%}
                  <INPUT type= "radio" name="12" value="1" > oui
                  <INPUT type= "radio" name="12" value="0" checked> non
                   {%endif %}

            </div>

            <div class="col-md-4">

                <h6 class="uppercase">
                Vendredi
                </h6>

                  <p class="mb16">
                    Matin
                  </p>
                  {% if app.user.getVendrediMatin() == true %}
                  <INPUT type= "radio" name="13" value="1" checked > oui
                  <INPUT type= "radio" name="13" value="0"> non
                  {%else%}
                  <INPUT type= "radio" name="13" value="1" > oui
                  <INPUT type= "radio" name="13" value="0" checked> non
                   {%endif %}


                  <p class="mb16">
                    Après-midi
                  </p>
                  {% if app.user.getVendrediMidi() == true %}
                  <INPUT type= "radio" name="14" value="1" checked > oui
                  <INPUT type= "radio" name="14" value="0"> non
                  {%else%}
                  <INPUT type= "radio" name="14" value="1" > oui
                  <INPUT type= "radio" name="14" value="0" checked> non
                   {%endif %}


                  <p class="mb16">
                    Soir
                  </p>
                 {% if app.user.getVendrediSoir() == true %}
                  <INPUT type= "radio" name="15" value="1" checked > oui
                  <INPUT type= "radio" name="15" value="0"> non
                  {%else%}
                  <INPUT type= "radio" name="15" value="1" > oui
                  <INPUT type= "radio" name="15" value="0" checked> non
                   {%endif %}

            </div>

            <div class="col-md-4">

                <h6 class="uppercase">
                Samedi
                </h6>

                  <p class="mb16">
                    Matin
                  </p>
                   {% if app.user.getSamediMatin() == true %}
                  <INPUT type= "radio" name="16" value="1" checked > oui
                  <INPUT type= "radio" name="16" value="0"> non
                  {%else%}
                  <INPUT type= "radio" name="16" value="1" > oui
                  <INPUT type= "radio" name="16" value="0" checked> non
                   {%endif %}


                  <p class="mb16">
                    Après-midi
                  </p>
                  {% if app.user.getSamediMidi() == true %}
                  <INPUT type= "radio" name="17" value="1" checked > oui
                  <INPUT type= "radio" name="17" value="0"> non
                  {%else%}
                  <INPUT type= "radio" name="17" value="1" > oui
                  <INPUT type= "radio" name="17" value="0" checked> non
                   {%endif %}


                  <p class="mb16">
                    Soir
                  </p>
                 {% if app.user.getSamediSoir() == true %}
                  <INPUT type= "radio" name="18" value="1" checked > oui
                  <INPUT type= "radio" name="18" value="0"> non
                  {%else%}
                  <INPUT type= "radio" name="18" value="1" > oui
                  <INPUT type= "radio" name="18" value="0" checked> non
                   {%endif %}

            </div>

            <div class="col-md-4">

                <h6 class="uppercase">
                Dimanche
                </h6>

                  <p class="mb16">
                    Matin
                  </p>
                  {% if app.user.getDimancheMatin() == true %}
                  <INPUT type= "radio" name="19" value="1" checked > oui
                  <INPUT type= "radio" name="19" value="0"> non
                  {%else%}
                  <INPUT type= "radio" name="19" value="1" > oui
                  <INPUT type= "radio" name="19" value="0" checked> non
                   {%endif %}


                  <p class="mb16">
                    Après-midi
                  </p>
                  {% if app.user.getDimancheMidi() == true %}
                  <INPUT type= "radio" name="20" value="1" checked > oui
                  <INPUT type= "radio" name="20" value="0"> non
                  {%else%}
                  <INPUT type= "radio" name="20" value="1" > oui
                  <INPUT type= "radio" name="20" value="0" checked> non
                   {%endif %}


                  <p class="mb16">
                    Soir
                  </p>
                  {% if app.user.getDimancheSoir() == true %}
                  <INPUT type= "radio" name="21" value="1" checked > oui
                  <INPUT type= "radio" name="21" value="0"> non
                  {%else%}
                  <INPUT type= "radio" name="21" value="1" > oui
                  <INPUT type= "radio" name="21" value="0" checked> non
                   {%endif %}

            </div>

            <div class="col-md-12">
              <button type="submit" class="btn btn-default">Envoyer</button>
            </div>

        </form>
      </div>
  </div>
</div>


{% endblock %}
