

<h2>Les Heureuses Naissances</h2>
<hr/>

<h3>Chère utilisatrice,</h3>

<br/>

<p>Vous avez reçu un message. Pour le consulter, veuillez vous connecter en cliquant sur ce lien: <a href="http://localhost/Symfony/web/app_dev.php/mail">http://lesheureusesnaissances.com/</a></p>

<br/>


<p>Cordialement,<p>

<br/>

<p>L'équipe des Heureuses Naissances vous souhaite une bonne journée !</p>

