

<h2>Les Heureuses Naissances</h2>
<hr/>

<h3>Chère utilisatrice,</h3>

<br/>

<p>Vous avez décidez de bloquer votre compte </p>

<br/>


<p>Cordialement,<p>

<br/>

<p>L'équipe des Heureuses Naissances vous souhaite une bonne journée !</p>

