
{% block lesheureusesnaissancesplatform_body %}
<div class="col-md-12 bandeau">
    <h1 class="text-center">Changement de Mot de Passe</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h4 class="uppercase mt20">Modification de Mot de Passe</h4>
                <form action="{{ path('fos_user_change_password') }}" method="POST" class="fos_user_change_password">
                   {{ form_widget(form) }}
                    <input type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
                </form>

                <a href="{{ path('app_bloquer_son_compte') }}" class="btn"> Bloquer mon compte</a>
        </div>
    </div>
</div>
{% endblock %}