{% extends "::layout.html.twig" %}

{% block title %}
{% endblock %}

{% block body %}

<div class="row bandeau">
	<h1 class="text-center">Rencontre</h1>
</div>
  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
  {% block lesheureusesnaissancesplatform_body %}


  
  {% endblock %}

{% endblock %}